/*----------utilities----------*/

@use 'base/variables' as v;

.textCenter {
    text-align: center;
}

.bgPrimary {
    background-color: v.$primary;
}

.bgWhite {
    background-color: v.$white;
}

.marginNegative-10 {
    margin-top: -10rem;
}

.paddingBottom-0 {
    padding-bottom: 0;
}